.cont-top {
    display: flex;
    background-color: gold;
    flex-direction: row;
    justify-content: space-arounds;
    
}

.menuitem {
    background-color: aqua;
    padding: 10px;

}

.cont-left {
    background-color: beige;
    justify-content: left;
    width: 10%;

}

.brand  {
    background-color: greenyellow;
    color: blue;
    padding:10px;
    height: 20px;
}