.cont-top {
    display: flex;
    background-color: gold;
    flex-direction: row;
    justify-content: space-arounds;
    
}

.menuitem {
    background-color: aqua;
    padding: 10px;

}

.bottom-img {
    width: 1100px;
    height: 200px;
}